@model MBCFM.Models.FMIncidentsFM261

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FMIncidentsFM261</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client_Job_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Job_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteTelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteTelNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOpened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubContractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubContractor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddNewNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddNewNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.todaysDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.todaysDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOnSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOnSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOffSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOffSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.labour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.labour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costingNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costingNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorMaterials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorMaterials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorlabour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorlabour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorcosts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorcosts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorOverheads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorOverheads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorProfit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorProfit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteCounty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteCounty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sitePostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sitePostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoiced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoiced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobLimits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobLimits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimatedTimeOfCompletion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimatedTimeOfCompletion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpliftApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpliftApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalTimeOnSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalTimeOnSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overHeads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overHeads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materialsProfit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materialsProfit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profitOnPlant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profitOnPlant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobSheetSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobSheetSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callOutRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callOutRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.initialCallOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initialCallOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callOutFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callOutFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalToInvoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalToInvoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteAllocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteAllocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorInvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorInvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorInvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorInvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subContractorInvoicePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subContractorInvoicePaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quotationDated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quotationDated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quotationApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quotationApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOnSite2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOnSite2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOffSite2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOffSite2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOnSite3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOnSite3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOffSite3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOffSite3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOnSite4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOnSite4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOffSite4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOffSite4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addSiteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addSiteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
