@model MBCFM.Models.User
<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login" }))
{
    @Html.AntiForgeryToken()
    if (!string.IsNullOrWhiteSpace(ViewBag.Error))
    {
        <div class="has-error">@ViewBag.Error</div>
    }
    <div class="input-group">
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="input-group">
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="input-group">
        <input class="button" type="submit" value="Login" />
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

