@model MBCFM.Models.JobView
@section styles{
    @Styles.Render("~/Content/datestyles")
}
<article class="job-view box">

    <div class="priority"><span>Priority</span><span class="number">@Model.JobData.Job.Priority</span></div>
    <div class="title">
        <p class="client-job-number">Client Job # <span class="number">@Model.JobData.Job.ClientJobNo</span></p>
        <h1><span class="mbc-job-number">#@Model.JobData.Job.MbcJobNo</span> - <span class="job-title">@Model.JobData.Job.ClientName</span></h1>
    </div>
    <div class="details">
        <div class="">
            <p class="site-address"><span class="label">Site Address</span></p>
               <p> <span class="info">@Model.JobData.Job.siteName</span> </p>
            
            <p>  <span class="info">@Model.JobData.Job.siteAddress</span>  </p>
            <p>
                <span class="info">@Model.JobData.Job.siteTown</span>
        </p>
            <p>
                <span class="info">@Model.JobData.Job.siteCounty</span>
        </p>
            <br />

            <p class="site-tel"><span class="label">Site Tel No</span><span class="info">@Model.JobData.Job.SitePhoneNo</span></p>
            <p class="order-type"><span class="label">Order Type</span><span class="info">@Model.JobData.Job.OrderType</span></p>
            <p class="order-status"><span class="label">Status</span><span class="info">@Model.JobData.Job.CurrentStatus</span></p>
        </div>
        <div>
            <p class="half">Sub Contractor <strong>@Model.User.FullName</strong></p>
            <p class="half">Entered by <strong>@Model.JobData.Job.EnteredBy</strong></p>
            <span class="clearfix"></span>
        </div>
        <div>
            <h4>Problem</h4>
            <p>@Model.JobData.Job.Problem</p>

            @if (!string.IsNullOrWhiteSpace(Model.JobData.Job.Notes))
            {
                <h4>Notes</h4>
                <p>@Model.JobData.Job.Notes</p>
            }
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.JobData.Job.MbcJobNo)
        <div class="form">
            <input type="text" hidden name="tableName" value="@Model.JobData.Job.tableName" />
            <div class="half">
                <label>Arrival Time</label>
                <input type="text" class="dtpicker" name="ArrivalTime" value="@Model.JobData.Job.ArrivalTime" />
            </div>
            <div class="half">
                <label>Depature Time</label>
                <input type="text" class="dtpicker" name="departureTime" value="@Model.JobData.Job.DepartureTime" />
            </div>
            @*<div>
                <label>Materials Used &amp; Costs</label>
                <textarea name="materialsUsed">@(Model.JobData.ExtraData != null ? Model.JobData.ExtraData.MaterialsUsed : string.Empty)</textarea>
            </div>
            <div>
                <label>Materials Required</label>
                <textarea name="materialsRequired">@(Model.JobData.ExtraData != null ? Model.JobData.ExtraData.MaterialsRequired : string.Empty)</textarea>
            </div>*@
            <div>
                <label>Site Notes</label>
                <textarea name="siteNotes">@(Model.JobData.Job.siteNotes != null ? Model.JobData.Job.siteNotes : string.Empty)</textarea>
            </div>
            @*<div class="half">
                <label>Work Completed</label>

            </div>*@
            @*<div class="half">
                <label>Duration Require to complete</label>
                @*<input type="text" name="durationToCompletion" value="@Model.JobData.Job.DurationToCompletion">
            </div>*@
            <span class="clearfix"></span>

        </div>

        <div class="action">
            <button type="submit" class="button" name="update">Update</button>
        </div>
    <div class="action">
        <button type="submit" class="big button" name="resolve">
            <h4>Resolve</h4>
            <p>Will close this job and send to Help Desk</p>
        </button>
    </div>
    }
    <br/>

    <div class="clearfix"></div>
</article>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydates")
    <script>
        $('.dtpicker').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            timepickerScrollbar: false
        });
    </script>
}