<!-- I've changed the model to the new notification class which has 2 collections of jobs
    as the model is now a single class (with collection properties) we now just check the relevant property -->
@model MBCFM.Models.NotificationView
<h3 class="header">Resolved By Engineers</h3>

@if (Model.HelpdeskJobs.Count() > 0)
{
    <ul class="job-list box">
        @foreach (var merged in Model.HelpdeskJobs)
        {


            <li>
                <div class="priority"><span>Priority</span><span class="number">@merged.Job.Priority</span></div>

                <div class="job-details">
                    <p class="client-job-number">Client Job # <span class="number">@merged.Job.ClientJobNo</span></p>
                    <h1><span class="mbc-job-number">#@merged.Job.MbcJobNo</span> - <span class="job-title">@merged.Job.ClientName</span></h1>
                    <p class="order-type"><span class="label">Order Type</span><span class="info">@merged.Job.OrderType</span></p>
                    <p class="order-status"><span class="label">Status</span><span class="info">@merged.Job.CurrentStatus</span></p>
                </div>
                <div class="action">
                    @Html.ActionLink("View", "ViewJob", new { mbcJobNo = merged.Job.MbcJobNo }, new { @class = "button" })
                </div>
                <div class="clearfix"></div>
            </li>
        }
    </ul>
}
else
{
    <h2>There are no jobs sent to the helpdesk.</h2>
}
<br />

<h3 class="header">Open Jobs</h3>

@if (Model.OpenJobs.Count() > 0)
{
    <ul class="job-list box">
        @foreach (var merged in Model.OpenJobs)
        {
            <li>
                <div class="priority"><span>Priority</span><span class="number">@merged.Job.Priority</span></div>

                <div class="job-details">
                    <p class="client-job-number">Client Job # <span class="number">@merged.Job.ClientJobNo</span></p>
                    <h1><span class="mbc-job-number">#@merged.Job.MbcJobNo</span> - <span class="job-title">@merged.Job.ClientName</span></h1>
                    <p class="order-type"><span class="label">Order Type</span><span class="info">@merged.Job.OrderType</span></p>
                    <p class="order-status"><span class="label">Status</span><span class="info">@merged.Job.CurrentStatus</span></p>
                </div>
                <div class="action">
                    @Html.ActionLink("View", "ViewJob", new { mbcJobNo = merged.Job.MbcJobNo }, new { @class = "button" })
                </div>
                <div class="clearfix"></div>
            </li>
        }
    </ul>
}
else
{
    <h2>There are no jobs sent to the helpdesk.</h2>
}

<script src="~/Scripts/refresher.js" type="text/javascript"></script>



